.watchlist-modalClass {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
.watchlist-modalClass::-webkit-scrollbar {
  width: 10px;
}
.watchlist-modalClass::-webkit-scrollbar-track {
  box-shadow: inset -3px 6px 6px rgb(0 0 0 / 30%);
  background-color: #b5d4e7e0;
}
.watchlist-modalClass::-webkit-scrollbar-button {
  background-color: white;
}
.watchlist-modalClass::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
  outline: 4px dashed #012437;
}
#watchlist-modal {
  width: 25%;
  height: 50%;
  overflow: auto;
  background-color: #012437;
  color: wheat;
  margin: auto;
}

#watchlist-header {
  display: flex;
  flex-flow: row wrap;
}
#watchlist-modal-title {
  text-align: center;
  width: 95%;
  font-size: larger;
}
#close-modal {
  font-size: large;
}
#close-modal:hover {
  color: red;
  cursor: pointer;
}
#watchlist-list-items > li > a:hover {
  color: rgba(13, 156, 184, 0.77);
}
#watchlist-list-items > li > a {
  text-decoration: none;
  color: wheat;
}
#watchlist-list-items {
  justify-content: center;
}
.watchlist-specification {
  text-align: center;
}
#watchlist-form > input {
  padding: 5px;
  padding-left: 10px;
  margin-right: 10px;
  height: 15px;
}
#watchlist-btn {
  height: 29px;
  margin-right: 10px;
}
