/* Nav {
  display: flex;
} */

.nav-parent {
  background-color: #dcd7cc;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 150px;
  border-bottom: 1px solid black;
}

.nav-icon {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 150px;
  /* background: rgb(153, 152, 150); */
}

.welcome {
  margin-bottom: 2%;
}

.nav-link-to-home > img {
  /* margin-top: 30.5%; */
  width: 165px;
  height: auto;
}

.nav-search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
  /* background: rgb(105, 91, 65); */
}

/* .search { */
/* margin-top: 13.5%; */
/* } */
.nav-user-prompt-or-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aliceblue; */
  width: 100%;
  height: 32%;
}

.nav-search-bar {
  /* background-color: aqua; */
  width: 100%;
  height: 58%;
}

.nav-unauth-parent {
  /* background: rgb(255, 245, 224); */
  display: flex;
}

/* .nav-sign-up-container {
  background: chartreuse;
}

.nav-sign-in-container {
  background: chocolate;
} */

.nav-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 150px;
  /* background: rgb(255, 81, 0); */
}

.nav-sign-in-link {
  padding-right: 10px;
}

.nav-sign-in-logo {
  width: 50px;
  margin-bottom: 30%;
}

.nav-unauth-link {
  text-decoration: none;
}

.nav-auth-link {
  text-decoration: none;
  /* background-color: aqua; */
  height: 100%;
}

.nav-link-to-items {
  /* background-color: aliceblue; */
  height: 100%;
}

.nav-link-to-items:visited {
  color: black;
}

.nav-link-to-items:hover {
  animation: shift 0.8s ease-in-out;
}

@keyframes shift {
  0%,
  55%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
  }
}

.nav-auth-parent {
  display: flex;
  align-items: center;
  /* margin-bottom: 18%; */
  /* background-color: blue; */
}

.nav-auth-icon {
  margin: 0px 10px;
}

.nav-sign-out-logo {
  width: 40px;
}

.nav-add-item-logo {
  /* margin-top: 5px; */
  width: 38px;
}
