.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #012437;
}
::-webkit-scrollbar-thumb:hover {
  background: #012437;
}
