.form-container-parent {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
}

.form-container {
  background-color: #a4c5d8;
  width: 450px;
  height: 58%;
  margin: 0px auto;
  min-height: 570px;
  box-shadow: -20px 14px 10px rgb(44 82 102 / 25%);
}

.form-container h3 {
  margin-top: 5px;
  padding-top: 20px;
  font-size: xx-large;
}
.hrstyle {
  border: 1px solid rgba(0, 0, 0, 0.541);
  width: 80%;
}
.form-container p {
  padding-top: 2.5%;
  font-size: large;
}
.form-container a:link,
a:visited {
  text-decoration: underline;
  color: blue;
}
#sign-up-form {
  background: rgba(44, 82, 102, 0.29);
  /* box-shadow: -10px 10px 10px rgba(44, 82, 102, 0.25); */
  box-shadow: inset 0px 0px 10px 20px rgb(44 82 102 / 25%);
  height: 53%;
  min-height: 280px;
  display: flex;
  flex-flow: row wrap;
  margin: 0px auto;
  width: 75%;
  padding: 30px;
  justify-content: center;
  /* margin-bottom: 30px; */
}
#sign-up-form label {
  font-size: x-large;
  width: 100%;
  padding: 10px;
  text-align: left;
}
#sign-up-form input {
  width: 100%;
  padding: 7px 15px;
  margin: auto;
  font-size: 1rem;
  border-radius: 3px;
  border: 3px solid rgba(164, 197, 216, 0.8);
  outline: none;
  transition: all 0.4s ease;
}
#sign-up-form button {
  margin: 20px;
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  font-size: medium;
}
#sign-up-form .danger {
  background: #e57373;
}
