.create-item-form {
  background: rgba(1, 36, 55, 0.29);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin: 10px 40px 40px 40px;
}

.create-item-parent {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 50%;
  padding: 0px;
  background: rgba(164, 197, 216, 0.8);
}

.add-item-title {
  align-self: center;
  /* margin: 5px; */
}

.create-item-titles {
  display: flex;
  flex-flow: flex-end;
  justify-content: space-between;
  margin: -20px 10px;
}

#create-imgURL {
  margin-bottom: -10px;
}

#create-name {
  margin-top: -10px;
}

.create-item-master {
  display: flex;
  width: 100%;
}

/* img {
  width: 50vw;
} */

.create-item-image {
  width: 50%;
}

.input-name,
.input-quantity,
.input-price,
.input-category,
.input-imgURL {
  height: 80%;
  width: 60%;
  align-content: center;
  margin-top: 20px;
  border: none;
}

.add-item-line {
  border: 1px solid black;
  width: 40vw;
  margin-top: -15px;
}

.create-form-line {
  border: 1px solid black;
  width: 40vw;
  margin-top: -25px;
}

.create-submit-button {
  width: 25%;
  height: 30px;
  align-self: center;
  border: none;
  margin: 20px;
  background-color: #ddf2d9;
}

