.footer-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dcd7cc;
  padding: 5px;
}
.fa-github {
  font-weight: 400;
  font-size: xx-large;
  color: black;
}
.github-link {
  text-decoration: none;
  color: black;
}
