.footer-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dcd7cc;
  padding: 5px;
}
.fa-github {
  font-weight: 400;
  font-size: xx-large;
  color: black;
}
.github-link {
  text-decoration: none;
  color: black;
}

.footer-names {
  display: inline-flex;
  align-items: center;
  margin: 0px 10px;
  font-family: Abel;
  font-size: larger;
  font-weight: bolder;
}

.name-title {
  margin-right: 10px;
}

.linked-in {
  background-image: url(https://res.cloudinary.com/briandanger/image/upload/v1568954107/linkedin_vnvo6s.png);
  height: 30px;
  width: 30px;
}
