.item-edit-parent {
  height: 100vh;
  display: flex;
  align-items: center;
  background: #a4c5d8;
}

.item-edit-left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 50%;
  background: rgba(128, 255, 0, 0);
  max-height: 500px;
}

.item-edit-right-side {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: auto;
  /* background: rgb(133, 125, 122); */
}

.item-edit-right-side > img {
  width: 100%;
  height: 100%;
  margin: auto;
  /* padding: 5px; */
  /* box-sizing: border-box; */
  overflow: hidden;
}

.item-edit-form-title-div {
  font-size: x-large;
  width: 100%;
  height: 15%;
  /* background: cornsilk; */
}

.item-edit-hr {
  border: 0.5px solid rgba(0, 0, 0, 0.699);
  width: 80%;
}

.item-edit-all-forms {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 80%;
  /* background: cyan; */
}

.item-edit-all-forms-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 80%;
  /* background: hsl(207, 46%, 45%); */
}

.item-edit-all-forms-in-container {
  background: #01243769;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.322);
}

.item-edit-input {
  margin: 10px 10px 10px 10px;
  border: 0px;
  width: 200px;
  height: 30px;
}

.category {
  width: 203px;
}

.in-form-div {
  display: flex;
  justify-content: space-between;
  /* background: rgb(158, 160, 126); */
}

.in-form-label {
  margin: 15px 10px 0px 10px;
}

.item-edit-form-button-hr {
  width: 100%;
}

.item-edit-buttons {
  margin-top: 20px;
}

.item-edit-button {
  border: 0px;
  width: 150px;
  height: 35px;
}

.item-edit-save {
  background-color: #ddf2d9;
}

.item-edit-small {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 35px;
}

.item-edit-delete {
  background-color: #f8baba;
}
