.form {
  background: rgba(44, 82, 102, 0.29);
  box-shadow: -10px 10px 10px rgba(44, 82, 102, 0.25);
  margin: 10px 30px;
  padding: 10px;
}

.sign-in-line {
  border: 1px solid rgba(0, 0, 0, 0.541);
  width: 80%;
  margin-top: -15px;
}

#sign-in-form {
  background: rgba(44, 82, 102, 0.29);
  box-shadow: inset 0px 0px 10px 20px rgb(44 82 102 / 25%);
  height: 53%;
  min-height: 280px;
  display: flex;
  flex-flow: column;
  margin: 0px auto;
  width: 75%;
  padding: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.sign-in-label {
  font-size: x-large;
  margin-bottom: 5px;
  margin-left: 10px;
}

.username-container,
.password-container {
  text-align: left;
}

.sign-in-password,
.sign-in-username {
  align-self: center;
}

#sign-in-form input {
  width: 90%;
  padding: 7px 15px;
  margin: auto;
  font-size: 1rem;
  border-radius: 3px;
  border: 3px solid rgba(164, 197, 216, 0.8);
  outline: none;
  transition: all 0.4s ease;
}

#sign-in-form button {
  margin: 20px;
  width: 30%;
  padding: 5px;
  border-radius: 5px;
  font-size: medium;
  align-self: center;
}

.sign-in-button {
  min-width: 80px;
  max-width: 80px;
  border: 0px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.399);
}
.sign-in-prompt {
  margin: 0px;
  margin-top: -25px;
  /* padding-bottom: 20px; */
}

.invalid-msg {
  color: red;
  margin-top: -10px;
  margin-bottom: -19px;
}
