.item-detail-parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  font-family: "Mohave", sans-serif;
  background: #ffffff url("https://i.imgur.com/71o2pdM.jpg");
  background-size: cover;
  background-attachment: scroll;
}
.item-detail-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  width: 70%;
  height: 80%;
  padding: 0 5%;
  border-radius: 3px;
  background-color: #b5d4e7e0;
  box-shadow: -5px 5px 20px rgb(0 0 0 / 60%);
}
.item-detail-img-column {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  width: 50%;
  height: 50%;
}
.item-detail-img {
  width: 100%;
  height: auto;
  margin: 10% auto;
  border-radius: 3px;
  box-shadow: -2px 2px 10px black;
  max-height: 400px;
  max-width: 400px;
}

.item-detail-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
}

.edit-line {
  border: 1px solid black;
  margin-top: 30px;
  width: 300px;
}

.title-line {
  border: 1px solid black;
  margin-top: 10px;
  width: 300px;
}

.item-detail-name {
  font-family: "Mohave", sans-serif;
  font-size: 55px;
  /* text-align: left; */
  /* margin-right: 100px; */
  width: 50%;
}

.item-detail-details {
  display: flex;
  flex-direction: column;
  font-family: "Abel", sans-serif;
  font-size: 35px;
  height: 100%;
  width: 100%;
}

.item-detail-quantity,
.item-detail-price,
.item-detail-category {
  display: flex;
  justify-content: flex-start;
}

.item-edit-button {
  background: #ddf2d9;
  padding: 1px 50px;
  font-family: "Abel", sans-serif;
  font-size: 25px;
  border: none;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.598);
  margin-top: 10px;
}

.category-detail-icon {
  display: flex;
  flex-flow: wrap;
  /* justify-content: flex-end; */
  /* margin-bottom: 20px; */
  width: 50%;
  padding-top: 6%;
  padding-left: 15%;
}

.item-detail-title {
  display: flex;
}
