.item-detail-parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: auto;
  /* height: 100vh; */
  font-family: "Mohave", sans-serif;
  background: #ffffff url("https://i.imgur.com/71o2pdM.jpg");
  background-size: cover;
  background-attachment: scroll;
}
.item-detail-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  width: 60%;
  height: 70%;
  padding: 0 5%;
  border-radius: 3px;
  background-color: #b5d4e7e0;
  box-shadow: -5px 5px 20px rgb(0 0 0 / 60%);
  margin: 40px;
}
.item-detail-img-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 49%;
  height: auto;
  margin-left: -71px;
  margin-right: -12px;
}
.item-detail-img {
  width: 100%;
  height: auto;
  margin: 10% auto;
  border-radius: 3px;
  box-shadow: -2px 2px 10px black;
  max-height: 400px;
  max-width: 400px;
}

.item-detail-column {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 50%;
  margin-right: -62px;
  overflow: auto;
  border-left: 5px solid black;
  margin: 4% 0;
  margin-right: -4%;
}

.edit-line {
  border: 1px solid black;
  margin-top: 32px;
  margin-left: -9%;
  width: 113%;
  background-color: #012437;
}

.title-line {
  border: 1px solid black;
  margin-top: 11px;
  width: 80%;
  background-color: #012437;
}

.item-detail-name {
  font-family: "Mohave", sans-serif;
  font-size: 8vh;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-detail-details {
  display: flex;
  flex-flow: column;
  font-family: "Abel", sans-serif;
  font-size: 5vh;
  height: 90%;
  width: 70%;
  margin-left: 20px;
  margin-top: 3%;
}

.item-detail-quantity,
.item-detail-price,
.item-detail-category,
.item-detail-shelfLife,
.item-detail-expiration {
  display: flex;
  justify-content: space-between;
  margin-right: 8%;
  margin-left: 2%;
}

.expire-days {
  margin: 0px;
}

.item-edit-button {
  background: #ddf2d9;
  padding: 1px 50px;
  font-family: "Abel", sans-serif;
  font-size: 25px;
  border: none;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.598);
  margin-top: 10px;
}

.category-detail-icon {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  margin-left: 95%;
  width: 7%;
  margin-top: -10%;
  margin-bottom: 5%;
  font-size: x-large;
}

.item-detail-title {
  display: flex;
  justify-content: center;
}
.item-detail-category {
  width: 90%;
}
.item-title-contain {
  width: 100%;
  margin-top: 2%;
}
.category-detail-icon > .fas,
.far {
  font-size: x-large;
}

@media screen and (max-width: 1920px) {
  .item-detail-name {
    font-size: 55px;
  }

  .item-detail-quantity,
  .item-detail-price,
  .item-detail-category,
  .item-detail-shelfLife,
  .item-detail-expiration {
    font-size: 32px;
  }
  .item-detail-container {
    height: 75%;
  }
}

@media screen and (max-width: 1253px) {
  .item-detail-quantity,
  .item-detail-price,
  .item-detail-category,
  .item-detail-shelfLife,
  .item-detail-expiration {
    font-size: 30px;
  }
}

@media screen and (max-width: 1176px) {
  .item-detail-quantity,
  .item-detail-price,
  .item-detail-category,
  .item-detail-shelfLife,
  .item-detail-expiration {
    font-size: 26px;
  }
}

@media screen and (min-height: 1150) {
}

@media screen and (min-width: 1051px) {
  .item-detail-parent {
    height: 741px;
  }
}

@media only screen and (max-width: 1050px) {
  .item-detail-quantity,
  .item-detail-price,
  .item-detail-category,
  .item-detail-shelfLife,
  .item-detail-expiration {
    font-size: 40px;
  }
  .item-detail-container {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    align-items: center;
    width: 80%;
    height: 60%;
    padding: 0 5%;
    border-radius: 3px;
    background-color: #b5d4e7e0;
    box-shadow: -5px 5px 20px rgb(0 0 0 / 60%);
    margin: 40px;
  }
  .edit-line {
    border: 1px solid black;
    margin-top: 32px;
    margin-left: -9%;
    width: 109%;
    background-color: #012437;
  }
  .item-detail-img-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: -71px;
    margin-right: -12px;
  }
  #details-divider {
    border-bottom: 6px solid #012437;
    width: 48vh;
    height: 0%;
    position: absolute;
    top: 52%;
  }
  .item-detail-column {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    margin-right: 0;
    overflow: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: 5px solid black;
    border-left: unset;
  }
  .item-detail-img {
    margin-left: 29.25%;
  }
}

@media only screen and (min-height: 1000px) and (min-width: 1000px) {
  #details-divider {
    border-left: 6px solid #012437;
    width: 65vh;
    height: 30%;
    position: absolute;
    top: 22%;
    right: 22%;
  }
}

@media screen and (max-width: 1000px) {
  .item-detail-img {
    margin-left: 28%;
  }
}
@media screen and (max-width: 950px) {
  .item-detail-img {
    margin-left: 27%;
  }
}
@media screen and (max-width: 900px) {
  .item-detail-img {
    margin-left: 26.3%;
  }
}
@media screen and (max-width: 850px) {
  .item-detail-img {
    margin-left: 24.7%;
  }
}
@media screen and (max-width: 800px) {
  .item-detail-img {
    margin-left: 23%;
  }
}
@media screen and (max-width: 768px) {
  .item-detail-img {
    margin-left: 21.5%;
  }
}
@media screen and (max-width: 750px) {
  .item-detail-img {
    margin-left: 22%;
  }
}
@media screen and (max-width: 700px) {
  .item-detail-img {
    margin-left: 19%;
  }
}
@media screen and (max-width: 650px) {
  .item-detail-img {
    margin-left: 16%;
  }
}

@media screen and (max-width: 615px) {
  .item-detail-img {
    margin-left: 15.6%;
  }
  .item-detail-name {
    font-size: 50px;
  }

  .item-detail-quantity,
  .item-detail-price,
  .item-detail-category,
  .item-detail-shelfLife,
  .item-detail-expiration {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .item-detail-img {
    margin-left: 13.8%;
  }
}
@media screen and (max-width: 583px) {
  .item-detail-img {
    margin-left: 12%;
  }
}
@media screen and (max-width: 565px) {
  .item-detail-img {
    margin-left: 10%;
  }
}
@media screen and (max-width: 550px) {
  .item-detail-img {
    margin-left: 8.5%;
  }
  .item-detail-name {
    font-size: 43px;
  }
}
