.search-input {
  height: 30px;
  width: 300px;
  border: 0px;
  padding-left: 2%;
  font-family: Abel;
}

.search-button {
  background-color: #b5d4e7;
  height: 32px;
  border: 0px;
  font-family: Abel;
}

@media screen and (max-width: 865px) {
  .search-input {
    width: 250px;
  }
}

@media screen and (max-width: 765px) {
  .search-input {
    width: 200px;
  }
}
@media screen and (max-width: 540px) {
  .search-input {
    width: 150px;
  }
}
